*.gem
*.rbc
.*.swp
.bundle
.config
.idea
.rvmrc
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
config/test*
coverage
doc/
lib/bundler/man
pkg
rdoc
sandbox
sandbox/*
spec/private
spec/reports
tags
test/tmp
test/version_tmp
tmp
